[submodule "ncgumx-1-basic"]
	path = ncgumx-1-basic
	url = https://github.com/l3costa/ncgumx-1-basic.git
[submodule "ncgumx-2-workflow-debugging"]
	path = ncgumx-2-workflow-debugging
	url = https://github.com/l3costa/ncgumx-2-work-flow-debugging.git
[submodule "ncgumx-5-express-js"]
	path = ncgumx-5-express-js
	url = git@github.com:l3costa/ncgumx-5-express-js.git
[submodule "ncgumx-6-templates-engine"]
	path = ncgumx-6-templates-engine
	url = git@github.com:l3costa/ncgumx-6-templates-engine.git
